<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>API Information</title>
    </head>
    <body>
        <h1>How to use the API</h1><br><br>
        All API calls will be proceeded by api/"method" <br>
        <b>METHODS:</b><br>
        <b>/access: </b> Register to use API<br>
        <b>/auth: </b> Accepts POST requests. use fields: accesskey, username, password<br>
        <b>/register</b> Accepts POST requests. use fields: username, password, first, last, twitteruser<br>

    </body>
</html>