<html>
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css\Style.css">
	</head>
	<body>
		<table>
			<tr>
				<td align="right">Username:</td>
					<td align="left"><input class="textbox" type="text" id="username" name="username" size="15"/></td>
			</tr>
			<tr>
				<td align="right">First Name:</td>
					<td align="left"><input class="textbox" type="text" id="firstname" name="firstname" size="15"/></td>
			</tr>
			<tr>
				<td align="right">Last Name:</td>
					<td align="left"><input class="textbox" type="text" id="lastname" name="lastname" size="15"/></td>
			</tr>
			<tr>
				<td align="right">Email: </td>
					<td align="left"><input class="textbox" type="text" id="email" name="email" size="15"/></td>
			</tr>
			<tr>
				<td align="right">Twitter Username: </td>
					<td align="left"><input class="textbox" type="text" id="twitter" name="twitter" size="15"/></td>
			</tr>
			<tr>
				<td align="right">Registration Date: </td>
					<td align="left"><input class="textbox" type="text" id="date" name="date" size="15"/></td>
			</tr>
		</table>
	</body>
</html>