<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project 3</title>
        <link rel="stylesheet" type="text/css" href="css\Style.css">		
    </head>
    <body>
        <div align="center">
			<h1>Register for Site</h1>
            <form>
                Create Username: <input class="textbox" type="text" id="username" name="username" size="15" onkeyup="show(this.value)"/><br /><br />
                Create Password: <input class="textbox" type="password" id="password" name="password" size="15" /><br />
                <p><input class="button" type="submit" value="Register" /></p><br /><br />
            </form>
        </div>
    </body>
</html>