<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>$(document).ready(function(){
        var url = unescape(document.location);
        var profilename = url.split('/');
        $('#user').text( profilename[4]);
        var dataString= 'username=' + profilename[4];
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/profile",
            data: dataString,
            cache: false,
            dataType:'JSON',
            success: function(data)
            {
                $('#userfirst').text(data.fname);
                $('#userlast').text(data.lname);
                $('#usertwitter').text(data.twitteruser);
                $('#useremail').text(data.email);
                $('#userregistration').text(data.registered);
            }
        });
    });</script>
</head>
<body>
<table width="100%">
    <tr>
        <td width="25%"></td>
        <td width="50%" colspan="2"><h1><div id="user"></div> Profile</h1></td>
        <td width="25%"></td>
    </tr>
    <tr>
        <td><div id="userpic">Picture goes here</div></td>
        <td>
            <table border="1" cellpadding="1">
                <tr>
                    <td align="left" width="50%"><b>First Name:</b></td>
                    <td aling="center" width="50%"><div id="userfirst"> </div></td>
                </tr>
                <tr>
                    <td align="left" width="50%"><b>Last Name:</b></td>
                    <td aling="center" width="50%"><div id="userlast"> </div></td>
                </tr>
                <tr>
                    <td align="left" width="50%"><b>Twitter Handle:</b></td>
                    <td aling="center" width="50%"><div id="usertwitter"> </div></td>
                </tr>
                <tr>
                    <td align="left" width="50%"><b>Email:</b></td>
                    <td aling="center" width="50%"><div id="useremail"> </div></td>
                </tr>
                <tr>
                    <td align="left" width="50%"><b>Registration Date:</b></td>
                    <td aling="center" width="50%"><div id="userregistration"> </div></td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>